@import "tailwindcss";

p{
    margin:5px 0px;
}

.card{
    background: linear-gradient(180deg, rgb(193, 206, 10), rgba(221, 13, 134, 0));
    padding:50px;
    box-shadow: 2px 2px 5px hsla(0, 0%, 0%, 0.5);
}   